extends layout 

block content

  h1 Add experience

  form(action="/experiences" method="POST")
    #form-group
      label Username:
      input.form-control(type="text" name="username" placeholder="Enter the username ")
    #form-group
      label Barcode:
      input.form-control(type="text" name="barcode" placeholder="Enter the barcode ")
    #form-group 
      label Note:
      textarea.form-control(type="text" name="note" placeholder="Enter your note ")
        
    br
    input.btn.btn-primary(type="submit", value='Submit')