extends layout 

block content

  form(action="/experiences/add" method="POST")
        p Username:
        select(name='username')
            each user in users
                option=user.name
        p Barcode:
        input(type="text" name="barcode" placeholder="Enter the barcode ")
        p Note:
        textarea(type="text" name="note" placeholder="Enter your note ")
        
        br
        input(type="submit")