extends layout 

block content
    h1 Ramen Experiences 
    ul.list-group
        each experience, e in experiences
            li.list-group-item 
                a(href='/experiences/'+experience._id) #{experience.name}: #{experience.barcode}: #{experience.note}