doctype html
html
    head
        title Ramen Hub 
    body 
        ul 
            li
                a(href="/") Home 
            li 
                a(href="/experiences/add") Add Experience 
        block content 
        br
        hr
        footer 
            p Ramen Hub footer! 😂